body {
    margin: 0;
    font-family: Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
  
li a.home {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
}

img.logo {
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    float: left;
    margin: -60px 0px -50px 285px; 
}

h1, p {
    text-align: left;
    margin-left: 300px;
    padding: 0;
}

#api {
    color: white;
    font-weight: 500;
    background-color: gray;
    border-radius: 10px;
    padding: 2px 6px;
}

#oas {
    color: white;
    font-weight: 500;
    background-color: #6dbe26;
    border-radius: 10px;
    padding: 2px 6px;
}

.supper {
    font-size: 12px;
    position: relative;
    top: -0.4em;
}
